@font-face{
    font-family: Monument Extended;
    src: url(fonts/MonumentExtended/MonumentExtended-Regular.otf);
}
@font-face{
    font-family: Ogg;
    src: url(fonts/Ogg/Ogg-Roman.otf);
}
/*General*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2F2F2;
    color: #326355;
    font-family: 'Ogg'; 
}
section{
    width:80%;
    margin: auto;
    overflow: hidden;
}
/*General*/

/*Header Info - section 1*/

.info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh; 
}
.info{
    display: none;
    align-items: center;
    min-width: 225px;
    transition: 3s ease;
}
.info:nth-child(1)::after{
    content: '';
    width: 100px;
    height: 2px;
    background: #326355;
    margin-left: 30px;
    transition: ease 4s ;
    animation: first-info 1.7s ease-in; 
}
@keyframes first-info{
    0%{
        width: 0px;
    }

    100%{
        width: 100px;
    }
}
.info:nth-child(2)::after{
    content: '';
    width: 25px;
    height: 2px;
    background: #326355;
    margin-left: 30px;
    animation: second-info 1.7s ease-in; 
}
@keyframes second-info{
    0%{
        width: 0px;  
    }
    100%{
        width: 25px;
    }
}
#year{
    margin-left: 40px;
}
 
/*Header Text - section 2*/

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    margin-top: 10vh;
}

.text-move{
    font-size:6.5vw;
    width: 100%;
    text-transform: uppercase;
    line-height: 9vw;
    /*animation: mover3 6s ease-in-out;*/
    font-family: 'Monument Extended', sans-serif;
    overflow: hidden;
}
.text-move h1{
    animation: mover3 2.5s ease ;
}
@keyframes mover3{
    from{
       transform: translateY(+160px);
    }

    to{
        transform: translateY(0px);
    } 
}
.header-text .move-left:nth-child(2){
    text-align: right; 
}

.header-text .move-left:nth-child(4){
    text-align: center;
    padding-left: 25vw;
}


/*Welcome message - section 3*/

.message-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    overflow: hidden;  
    margin: 150px 0;
    position: relative;
    margin-bottom: 20vh;
}
.image{
    width: 100%;
    height: 360px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}
.image img{
    overflow: hidden;
    width: 630px;
    position: absolute;
    top: -220px;
    right: 0px;
    z-index: 0;
    opacity: 0.6;
}

.paragraph {
    position: absolute;
    z-index: 1;
    font-size: 3vw;
    font-family: "Ogg";
}

@keyframes image-opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.6;
    }
} 
/*Description - section 4*/

.description-container{
    display: flex;
    justify-content: center;
    height: 70vh;
}
.description{
    flex: 1;
    font-size: 25px;
    padding-right: 100px;
    line-height: 40px;
    font-family: "Ogg";    
}
.date{
    font-size: 40px;
    flex: 1;
    font-family: "Ogg";
    font-weight: bold;
}
.description span{
    animation: mover6 2.5s ease;
    display: block;
}

/*Projects */
.line{
    height: 1px;
    background-color: black;
    animation:  ease;
}

.projects-container{
    height: 80vh;
    margin-top: 200px;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    animation: mover5 5s ease;
    font-size: 25px;
}

.projectType{
    flex: 3;
}

.projectName{
    flex: 10;
}

.projectAgency{
    flex: 1;
}

.projectDescription{
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    font-size: 25px;
}

.project a{
    text-decoration: none;
    color:black;
    font-size: 3vw;
    font-family: 'Monument Extended', sans-serif;
    text-transform: uppercase;
}

/*Contact*/

.contactContainer{
    height: 40vh;
    display: flex;
    flex-direction: column;
    margin-top: 7vh
}

.links, .developerInfo{
    flex: 1;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.links a{
    text-decoration: none;
    font-size: 3vw;
    color: black;
    font-family: 'Monument Extended', sans-serif;
}
.developerInfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;
}

/* Back to top*/
.back{
    width: 100%;
}

.back h1{
    text-transform: uppercase;
    font-size: 4vw;
    font-family: 'Monument Extended', sans-serif;
    letter-spacing: 5px;
    color: #F2F2F2;
}
.backContainer{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: blanchedalmond;
}
.projectName{
    overflow: hidden;
}
.moving-up{
    display: inline-block;
}

@keyframes animate{
    from{
       transform: translateY(+80px);
    }
    to{
        transform: translateY(0px);
    } 
} 

@keyframes mover4{
    from{
     
        background-color:#7EC3B0;
    }

    to{
        
        background-color:#F2F2F2;
    }
}  

@keyframes mover5{
    0%{
       border-color: wheat;
    }

    100%{
        border-color:black;
    }
}

@keyframes mover6{
    from{
        opacity: 0;
       transform: translateY(+40px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes mover-line{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@media screen and (max-width: 1224px){
   section{
       width: 90%;
   }
   .description{
       flex: 2;
       padding-right: 0;
   }
   .paragraph{
       font-size: 35px;
   }
}

@media screen and (max-width: 768px){
    .text-container{
        height: 55vh;
    }
    .paragraph{
        bottom: 40px;
        font-size: 4vw;
    }
    .image{
        height: 300px;
        width: 90%;
        right: 0;
    }
    .description-container{
        flex-direction: column;
    }
    
 }

 @media screen and (max-width: 425px){
    .info:nth-child(1)::after, .info:nth-child(2)::after{
        display: none;
    }
    .text-container{
        height: 40vh;
    }
    .message-container{
        height: 50vh;
        margin-top: 0;
    }
    .image{
        height: 200px;
        width: 100%;
    }
    .image img{
        right: -120px;
    }
    .paragraph{
        font-size: 19px;
        bottom: 80px;
    }
    .description-container{
        flex-direction: column;
    }
    .description{
        font-size: 18px;
        line-height: 25px;
        padding: 0;
    }
    .projectDescription{
       display: inline-flex;
    }
    .type, .name, .agency{
        display: inline-block;
        padding-right: 20px;
    }
    .projects{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        font-size: 20px;
    }
    .project-info{
        flex: 1;
    }
    .project-info a,.links a{
        font-size: 5vw;
    }
 }