@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&family=Shippori+Mincho+B1:wght@600&display=swap');
/*General*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2F2F2;
    color: #7EC3B0;
    animation: mover4 4s;  
}
section{
    width:80%;
    margin: auto;
    overflow: hidden;
}
/*General*/

/*Header Info*/



.infoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-family: 'Shippori Mincho B1', serif;
}

.info{
    display: flex;
    align-items: center;
    min-width: 225px;
}

.info:nth-child(1)::after{
    content: '';
    width: 100px;
    height: 2px;
    background: #7EC3B0;
    margin-left: 30px;
    animation: mover2 1.7s ease-in;
}


.info:nth-child(2)::after{
    content: '';
    width: 25px;
    height: 2px;
    background: #7EC3B0;
    margin-left: 30px;
    animation: mover 1.7s ease-in;
}

#year{
    margin-left: 40px;
}

/*Header Text*/

.headerText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 79%;
}
.textMove{
    font-size:11vw;
    width: 100%;
    text-transform: uppercase;
    line-height: 10vw;
    font-family: 'Nunito Sans', sans-serif;   
    animation: mover3 2s ease-in-out;
}

.headerText .moveLeft:nth-child(2){
    text-align: right;
}

.headerText .moveLeft:nth-child(4){
    text-align: center;
}


/*Greeting*/

.messageContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    overflow: hidden;  
    margin: 150px 0;
    position: relative;
}
.image{
    width: 100%;
    height: 360px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}
.image img{
    overflow: hidden;
    width: 700px;
    position: absolute;
    top: -220px;
    right: 0px;
    z-index: 0;
    opacity: 0.6;
}

.paragraph{
    position: absolute;
    z-index: 1;
    font-size: 4vw;
}

/*Description*/

.descriptionContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    padding-top: 70px;
}

.description{
    flex: 1;
    font-size: 2vw;
    padding-right: 150px;
    height: 100%;
    line-height: 50px;
    letter-spacing: 5px;
}
.date{
    font-size: 40px;
    flex: 1;
}


/*Projects*/

.projectsContainer{
    height: 80vh;
    margin-top: 200px;
}

.project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    border-bottom: 1px solid #7EC3B0;
}

.projectType{
    flex: 3;
}

.projectName{
    flex: 10;
}

.projectAgency{
    flex: 1;
}

.projectDescription{
    align-items: flex-end;
    padding-bottom: 10px;
}






@keyframes mover{
    0%{
        width: 0px;
        
    }

    100%{
        width: 25px;
        
    }
}

@keyframes mover2{
    0%{
        width: 0px;
    }

    100%{
        width: 100px;
    }
}

@keyframes mover3{
    from{
       transform: translateY(-70px);
       
    }

    to{
        transform: translateY(0px);
        
    } 
}

@keyframes mover4{
    from{
     
        background-color:#7EC3B0;
    }

    to{
        
        background-color:#F2F2F2;
    }
}  